
.modal{
    position: absolute;
    top: 30vh !important;
    left: 25vw;
    background-color: rgb(125, 129, 125);
    z-index: 20;
padding:20% ;
}
@media  (min-width: 768px) {
    .modal{
    position: absolute;
    top: 40vh !important;
    left: 30vw;
    background-color: rgb(125, 129, 125);
    z-index: 20;
    padding: 10%;

}
}